#*#*#gptool input file v2.0#*#*#
-------------------------------------------------
#****Mode of observation****#
{BM}	: Beam mode
{pol}	: Polarization mode (0-> intesity, 1-> stokes data)
{Nbytes}: Sample size of data (in bytes, usually 2)
-------------------------------------------------
#****Observation Paramaters****#
{Fmin}  : Frequency band (lowest value in Mhz)
{BW}	: Bandwidth(in Mhz)
{SB}	: Sideband flag (-1-> decreasing +1-> increasing)
{Nchan} : Number of channels
{Tsmpl}	: Sampling Interval (in ms)
-------------------------------------------------
#****Pulsar Parameters****#
{JNAME}	: Pulsar name
{P0}	: Pulsar period (in milliseconds)
{DM}	: DM (in pc/cc)
-------------------------------------------------
#****Dedispersion & Folding parameters****#
-1		: Number of bins in folded profile (-1 for native resolution)
0		: Phase offset for folding
12		: Number of coefficients for each polyco span (nCoeff)
60		: Validity of each span (nSpan in mins)
12		: Maximum hour angle
-------------------------------------------------
#****Display Parameters****#
0		: Polarization channel to display (0-3 or -1 for all four)
5		: Display window size (seconds, 0-> pulsar period)
0		: Update mode	    	(0-> automatic, 1-> manual)
0		: Time delay between window updates (0-> no delay, 1-> emulate real time)
-------------------------------------------------
#****Spectral line RFI mitigation options****#
0       : Number of channels to flag at band beginning
0   	: Number of channels to flag at band end
1		: Frequency flagging options (0-> no flagging, 1-> real time calculation)
3		: Bandshape to use for frequency flagging (1-> normalized bandshape, 2-> mean-to-rms bandshape, 3-> Both)
2.5		: Threshold for frequency flagging (in units of RMS deviation)
-------------------------------------------------
#****Time domain impulsive RFI mitigation options****#
1		: Time flagging options 	(0-> no flagging, 1-> real time calculation)
1		: Data normalization before filtering (0-> no, 1-> yes)
1		: Time flagging algorithm	(1-> histogram based, 2-> MAD based)
2.5		: Threshold for time flagging (in units of RMS deviation)
-------------------------------------------------
#****Other options****#
10		: Smoothing window size for bandshape normalization (in number of channels)
1		: Normalization procedure (1-> cumulative smooth bandshape, 2-> externally supplied bandshape.dat)
1		: Replace by median values (0-> Ignore flagged samples, 1-> Replace flagged samples by window median)
-------------------------------------------------
#****I/O options****#
0		: Write channel flag file (0-> no,1-> yes)
0		: Write time flag file (0-> no, 1-> yes)
1		: write out filtered 2D raw data (0-> no, 1-> yes)
0		: Write out fullDM.raw	(0-> no, 1-> yes)
-------------------------------------------------
#****manual flagging options****#
0		: Number of bad channel blocks
List	: #in next line, example: [200,400],[1200,1400] 

